// ************************ Модальное окно ************************ //
// mf


.modal__wrapper, .hotspot-modal__wrapper{
    position: fixed;
    transition: all 0.9s;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;

    .modal {
        position: relative;
        background: white;
        padding: 56px 64px 56px 64px;
        border-radius: 5px;
        height: 710px;
        width: 483px;

        &__title {
            text-align: center;
        }


    }
}

// ************************ Кнопка вызова модального окна ************************ //
/* .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    cursor: pointer;
} */


.modal__box {
    position: relative;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 0px rgba(38, 31, 123, 0.05);
    background: rgb(26, 115, 232);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    @extend %MS-400;
    padding: 19px 92px;
}

.modal__sub-text {
    padding: 18px 0 16px 0;
    color: rgb(135, 137, 161);
    font-size: 18px;
    @extend %MS-400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.modal__name,
.modal__pass {
    /*  padding-top: px; */
    padding-bottom: 12px;
    color: rgb(48, 48, 48);
    font-family: Trebuchet MS;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.modal__pass {
    padding-top: 24px;
}

.modal__input {
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 0px rgba(38, 31, 123, 0.05);
    background: rgb(245, 247, 249);
    max-width: 356px;
    width: 100%;
    height: 60px;
    padding: 20px 20px 20px 20px;
}

.modal__text {
    color: rgb(89, 91, 117);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

.modal__box-box {
    margin-top: 30px;
    margin-bottom: 21px;
    font-size: 18px;

    @extend %MS-400;
}

.modal__text {
    color: rgb(89, 91, 117);
    font-size: 14px;
    @extend %MS-400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 49px;
}

.modal__box-inner {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal__btn.active {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background: rgb(88, 147, 250);
}

.modal__btn {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background: rgba(88, 147, 250, 0.2);
    border: none;

}

.modal__box-wrapper {
    width: 54px;
    height: 54px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 6px;
    top: 2px;
}

.modal__wrapper-see {
    cursor: pointer;
    position: absolute;
    width: 19.23px;
    height: 14px;
    right: 0;
    bottom: 18%;
    right: 3%;
}

.modal {
    input {
        cursor: pointer;
        outline: none;
        box-shadow: none;
    }
}



@media (max-width:668px) {
    .modal__wrapper .modal {
        padding: 36px;
        width: 280px;
        height: 415px;
    }

    .modal__wrapper .modal__rest {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .modal__wrapper .modal__inner-rest .modal__gender {
        width: 102px;
        font-size: 12px;
        padding: 0;
        width: 102px;
        font-size: 12px;
        margin-bottom: 6px;
        justify-content: center;
        display: flex;
        align-items: center;
    }



    .modal__wrapper .modal__name {
        font-size: 12px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 6px;
    }

    .modal__wrapper .modal__pass {
        font-size: 12px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 6px;
    }

    .modal__wrapper .modal__box-text {
        color: rgb(135, 137, 161);
        font-size: 10px;
        line-height: 12px;
    }

    .modal__wrapper .modal input {
        height: 34.78px;
    }

    .modal__box {
        height: 34.78px;
        padding: 0;
    }

    .checkbox {
        width: 17.39px;
        height: 17.39px;
    }

    .modal__button {
        width: 206.96px;
        padding: 0;
        height: 38.84px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }

    .modal__wrapper .modal__box-inner {
        padding-top: 20px;

    }

    .modal__wrapper .modal__btn {
        width: 17.39px;
        height: 2.9px;
    }

    .modal__wrapper .modal__btnac {
        width: 17.39px;
        height: 2.9px;
    }

    .modal__wrapper .modal__btn.active {
        width: 17.39px;
        height: 2.9px;
    }

    .modal__box-wrapper {
        height: 30px;
        width: 30px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .modal__box {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal__sub-text {
        padding: 5px 0;
    }

    .modal__wrapper .modal {
        padding: 20px;
    }

    .modal__box-box {
        margin: 10px 0;
    }

    .modal__sub-text {
        display: none;
    }

    .modal__name,
    .modal__pass {
        margin-top: 10px;
    }

    .modal__text {
        font-size: 12px;
        margin-bottom: 0;
    }

    .modal__wrapper .modal__box-inner {
        padding-top: 14px;
    }

    .modal__wrapper-see {
        width: 15.23px;
        height: 10px;
    }
}